.App {
  height: 100vh;
}

.controls,
.results {
  display: flex;
  flex-flow: column wrap;
}

.controls input,
.results input {
  padding: 0.2em;
  margin: 0.2em;
}

.App hr {
  margin: 1em 0.3em 1em 0.3em;
  width: 30%;
}

.cavitystatus {
  padding: 1rem 0;
}

.locked {
  color: red;
}
