.box {
  background: #fff;
  display: inline-flex;
  flex-direction: column;
  margin: 2.5px 2.5px;
  // justify-content: space-evenly;
  align-items: center;
  width: 220px;
  min-width: 220px;
  position: relative;
}

.preCanvas {
  min-height: 70px;
}

.formula {
  font-size: 85%;
}
.formula span {
  min-height: 65px;
}

.infoBtn {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid black;
  opacity: 0.95;
  padding: 0.2rem 0.6rem;
}

.buttonContainer{
  text-align: center;
}

.visualization {
  height: 200px;
  width: 200px;
  background-image: url('../public/maniac.jpeg');
  background-size: cover;
  background-blend-mode: luminosity;
}
