@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
  font-size: 1rem;
  color: black;
  padding:0.5rem 0;
}
input {
  margin: 0.2rem 0;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
